.ourStory_main{
    width: 100%;
    background-color: #ecd8bdb6;
}
.ourStory_main ul li .link{
    color: #252422;
}
.ourStory_main .toggle_menu,.ourstory .link_login-nav{
    color: #252422;
}
.ourStory_main .link_login-nav{
    border-color: #252422;
}
